<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corretto.board.update.mapper.UpdateMapper">

<update id="updateArticle">
	update Article set title=#{title}, content=#{content} where id=#{id}
</update>

</mapper>