<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lotto.shinnanda.board.mapper.BoardSQLMapper">
<select id="createBoardNo" resultType="int">
	SELECT SN_Board_seq.nextval
	FROM dual
</select>

<insert id="insertBoard">
	INSERT INTO SN_Board VALUES (
		#{board_no},
		#{member_no},
		#{board_title},
		#{board_content},
		0,
		SYSDATE
	)	
</insert>

<insert id="insertBoardImage">
	INSERT INTO SN_BoardImage VALUES (
		SN_BoardImage_seq.nextval,
		#{board_no},
		#{image_url},
		#{image_originalname}
	)
</insert>

<select id="selectBoardByNo" resultType="map">
	SELECT *
	FROM SN_Board sb, SN_Member sm
	WHERE sb.member_no = sm.member_no
	AND sb.board_no = #{board_no}
</select>

<select id="selectBoardReadCount" resultType="int">
	SELECT board_readcount
	FROM SN_Board
	WHERE board_no = #{no}
</select>

<update id="increaseReadCountByNo">
	UPDATE SN_Board
	SET board_readcount = board_readcount + 1
	WHERE board_no = #{no}
</update>

<select id="selectBoardImageByBoardNo" resultType="com.lotto.shinnanda.vo.BoardImageVo">
	SELECT *
	FROM SN_BoardImage
	WHERE board_no = #{board_no}
</select>

<select id="selectBoardList" resultType="com.lotto.shinnanda.vo.BoardVo">
	SELECT t2.*
	FROM (
		SELECT t1.*, ROWNUM AS rnum
		FROM (
			SELECT sb.*
			FROM SN_Board sb, SN_Member sm
			WHERE sb.member_no = sm.member_no
			<if test="searchOption != null">
				<choose>
					<when test="searchOption == 'title'">
						AND sb.board_title LIKE '%'||#{searchWord}||'%'
					</when>
					<when test="searchOption == 'content'">
						AND sb.board_content LIKE '%'||#{searchWord}||'%'
					</when>
					<when test="searchOption == 'nick'">
						AND sm.member_nick LIKE '%'||#{searchWord}||'%'
					</when>					
				</choose>						
			</if>
			ORDER BY sb.board_no DESC
		) t1
	) t2
	<![CDATA[
	WHERE t2.rnum >= (#{pageNum}-1) * 6 + 1
	AND t2.rnum <= #{pageNum} * 6
	]]>
</select>

<select id="selectBoardImageThumbnailByBoardNo" resultType="com.lotto.shinnanda.vo.BoardImageVo">
	SELECT *
	FROM (
		SELECT *
		FROM SN_BoardImage
		WHERE board_no = #{board_no}
		ORDER BY image_no
	)
	WHERE ROWNUM = 1	
</select>

<select id="selectTotalBoardCount" resultType="int">
	SELECT COUNT(*)
	FROM SN_Board sb, SN_Member sm
	WHERE sb.member_no = sm.member_no
	<if test="searchOption != null">
	<choose>
		<when test="searchOption == 'title'">
			AND sb.board_title LIKE '%'||#{searchWord}||'%'
		</when>
		<when test="searchOption == 'content'">
			AND sb.board_content LIKE '%'||#{searchWord}||'%'
		</when>
		<when test="searchOption == 'nick'">
			AND sm.member_nick LIKE '%'||#{searchWord}||'%'
		</when>
	</choose>
	</if>
</select>

<update id="updateBoard">
	UPDATE SN_Board
	SET board_title = #{board_title}, board_content = #{board_content}
	WHERE board_no = #{board_no}
</update>

<delete id="deleteBoardByNo">
	DELETE FROM SN_Board
	WHERE board_no = #{no}
</delete>

<delete id="deleteBoardImageByNo">
	DELETE FROM SN_BoardImage
	WHERE image_no = #{no}
</delete>

<delete id="deleteBoardImaegeByBoardNo">
	DELETE FROM SN_BoardImage
	WHERE board_no = #{board_no}
</delete>

<insert id="insertComment">
	INSERT INTO SN_Comment VALUES (
		SN_Comment_seq.nextval,
		#{board_no}, 
		#{member_no},
		#{comment_content},
		SYSDATE
	)
</insert>

<select id="selectCommentByBoardNo" resultType="map">
	SELECT *
	FROM SN_Comment sc, SN_Member sm
	WHERE sc.member_no = sm.member_no
	AND board_no = #{board_no}
	ORDER BY sc.comment_no DESC
</select>

<update id="updateComment">
	UPDATE SN_Comment
	SET comment_content = #{comment_content}
	WHERE comment_no = #{comment_no}
</update>

<delete id="deleteCommentByNo">
	DELETE FROM SN_Comment
	WHERE comment_no = #{no}
</delete>

<delete id="deleteCommentByBoardNo">
	DELETE FROM SN_Comment
	WHERE board_no = #{board_no}
</delete>

<select id="selectLikeCategory" resultType="com.lotto.shinnanda.vo.LikeCategoryVo">
	SELECT *
	FROM SN_LikeCategory
</select>

<insert id="insertLike">
	INSERT INTO SN_Like VALUES (
		SN_Like_seq.nextval,
		#{board_no},
		#{member_no},
		#{likecategory_no},
		SYSDATE
	)
</insert>

<select id="selectBoardLikeCategoryCount" resultType="int">
	SELECT COUNT(*)
	FROM SN_Like
	WHERE board_no = #{board_no}
	AND likecategory_no = #{likecategory_no}
</select>

<select id="selectMemberBoardLikeCategory" resultType="int">
	SELECT likecategory_no
	FROM SN_Like
	WHERE board_no = #{board_no}
	AND member_no = #{member_no}
	ORDER BY like_no
</select>

<delete id="deleteMemberBoardLike">
	DELETE FROM SN_Like
	WHERE board_no = #{board_no}
	AND member_no = #{member_no}
	AND likecategory_no = #{likecategory_no}
</delete>
</mapper>